	img{
	    -webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	}
	.section{
		text-align:center;
		overflow:hidden;
	}
	.wrap{
		width: 1180px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.box{
		text-align: left;
		color: #808080;
		font-size: 1.2em;
		line-height: 1.6em;
	}
	

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Section Styles
	* --------------------------------------- */

	#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	
	#section3 h1{
		color: #000;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}