
@font-face {
	font-family: 'Roboto', sans-serif;
	src: url(../images/roboto-regular.ttf);
}

@font-face {
	font-family: Century gothic;
	src: url(../images/centurygothic.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


@media (max-width:767px){
	#nav {
		display:none;
	}
	#logo {
		width:40px;
	}
	.menubar {
		padding: 5px 10px 0px!important;
	}
	#btn-aboutme {
		margin-top:50px !important;
	}
	.footer-right {
		margin-top: -55px;
	}
	.button3, .button4 {
		height: 468px !important;
	}
	.col-sm-7 {
		height:470px !important;
	}
	.snippet {
		width: 90% !important;
	}
	#aboutme > .row > .col-sm-12 {
	max-width:100% !important;
	margin-left:0 !important;
	}
	h1 {
		font-size:30px !important;
	}
	h2 {
		font-size:15px !important;
	}
	h3 {
		font-size:25px !important;
	}
	p {
		font-size:12px !important;
	}

}

::selection{
	background:none;
	}
::-webkit-scrollbar{
	width:8px;
	height:8px;
	z-index:-6px;
	}
::-webkit-scrollbar-track{
	background:white;
	}
::-webkit-scrollbar-thumb{
	opacity:1;
	background:#e5e5e5;
	border-radius:5px;
	}
::-webkit-scrollbar-thumb:hover{
	background:#828282;
	opacity:1;
	}
h1{
	font-family:"roboto", sans-serif;
	font-size: 50px;
	color: #40413f;
	text-align:center;
	margin:15px;
	}
h2{
	font-family:"roboto", sans-serif;
	font-size: 16px;
	color: #40413f;
	text-align:center;
	margin:15px;
	}
h3{
	font-family:"roboto", sans-serif;
	font-size:35px;
	color:#FFFFFF;
	padding:8px;
	padding-left:40px;
	}
h4{
	font-family:"roboto", sans-serif;
	background-color: #0bb572;
	font-size:35px;
	color:#FFFFFF;
	padding:15px;
	transform:rotate(-90deg);
	}
p{
	font-family:"roboto", sans-serif;
	font-size:14px;
	color:#40413f;
	margin:15px;
	}
body {
	overflow-x:hidden;
	}
a{
	font-family:"roboto", sans-serif;
	font-size:14px;
	color:#11b672 !important;
	}
[class*="col-"] {
	padding:2px;
}
iframe {
	width:100%;
	height:100%;
	margin:0;
	margin-top: 50px;
	padding:0;
	border:none;
}
span {
	margin: 10px;
}
#cnt-iframe {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
}
#iframe-calc {

}
.wrapper-nav-panel {
	width:1280px;
	margin-left:auto;
	margin-right:auto;
	}
.wrapper-main-content table, tr, td{
	border-spacing:0px;
	}
.base{
	margin:0px;
	}
.header{
	border-bottom:8px #000000;
	display:block;
	}
.menubar{
	width:100%;
	padding: 0px 10px 0px 10px;
	border-spacing:0px;
	background-color:#FFFFFF;
	box-shadow: 0px 3px 3px hsla(0,0%,0%,0.3);
	-webkit-box-shadow: 0px 3px 3px rgba(86, 86, 86, 0.5);
	-moz-box-shadow: 0px 3px 3px rgba(86, 86, 86, 0.5);

	z-index:99;
	}
.menu{
	padding-right:20px;
	padding-left:20px;
	}
.panel{ 
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
	} 
#nav {
	text-align:right;
}

ul{
	list-style-type:none;
	margin-top:14px;
	}
li{
	display:inline;
	}

.logo-menu {
	width:40px;
	margin-top:4px;
}
.menubar button{
	color:#40413f;
	}
.menubar button:hover{
	color:#828282;
	}
.menubar button:onclick{
	box-shadow:none;
	border:none;
	}
.menubutton{
	background:none;
	border:none;
	font-size:14px;
	font-family:"roboto", sans-serif;
	color:#40413f;
	text-transform:uppercase;
	}
.wrapper-main-content{
	}
footer{
	font-size:14px;
	font-family:"roboto", sans-serif;
	color:#40413f;
	padding:30px;
	}
.footer-left {
	padding-top:20px;
}
.footer-left > p {
	margin:0px;
}
.footer-right{
	padding-right:0px;
	}
.footer-right > p {
	margin:0px;
}
.wrapper-content table{
	padding:0px;
	margin:0px;
	}
.wrapper-main-content body{
	align:center
	}
.button1{
	background-image: url(../images/calendar_material_board_splash.png);
	background-size:cover;
	box-shadow:none;
	border:none;
	height:275px;
	line-height:5px;
	position:right;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
	transition: all 5s;
	
	}
.button1:hover{
	background:
	linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)
	),
	url(../images/calendar_material_board_splash.png);
	background-size:cover;
	}
	
.text1 {
	opacity:0;
	transition: opacity 0.5s linear;
	font:50px roboto !important;
	color:white;
	line-height:normal;
}
.text1-description {
	opacity:0;
	transition:opacity 0.5s linear;
	font: 17px roboto !important;
	color:white;
	line-height:normal;
}
.button1:hover .text1{
	opacity:1;
	}
.button1:hover .text1-description{
	opacity:1;
	}
.button2{
	background: url(../images/travelsimple/survey_mock.jpg) center;
	background-size:cover;
	box-shadow:none;
	border:none;
	height:275px;
	line-height:5px;
	position:right;
	}
.button2:hover{
	background:
	linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)
	),
	url(../images/travelsimple/survey_mock.jpg) center;
	background-size:cover;
	transition: background 1s linear;
	}
.button2:hover .text1{
	opacity:1;
	}
.button2:hover .text1-description{
	opacity:1;
	}
.button3{
	background: url(../images/microsoft-logo.png) center no-repeat;
	background-size:contain;
	box-shadow:none;
	border:none;
	height:550px;
	line-height:5px;
	position:right;
	}
.button3:hover{
	background:
	linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)
	),
	url(../images/microsoft-logo.png) center no-repeat;
	background-size:contain;
	transition: background 1s linear;
	}
.button3:hover .text1{
	opacity:1;
	}
.button3:hover .text1-description{
	opacity:1;
	}
.button4{
	background: url(../images/4.png) center;
	background-size:cover;
	box-shadow:none;
	border:none;
	height:550px;
	line-height:5px;
	position:center;
	}
.button4:hover{
	background:
	linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)
	),
	url(../images/4.png) center;
	background-size:cover;
	transition: background 1s linear;
	}
.button4:hover .text1{
	opacity:1;
	}
.button4:hover .text1-description{
	opacity:1;
	}
.button5{
	background: url(../images/1.png) center;
	background-size:cover;
	box-shadow:none;
	border:none;
	height:275px;
	line-height:5px;
	position:center;
	}
.button5:hover{
	background:
	linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)
	),
	url(../images/1.png) center;
	background-size:cover;
	transition: all 1s linear;
	}
.button5:hover .text1{
	opacity:1;
	}
.button5:hover .text1-description{
	opacity:1;
	}
.button6{
	background: url(../images/6.jpg);
	background-size:cover;
	box-shadow:none;
	border:none;
	height:275px;
	line-height:5px;
	position:right;
	transition: background 1s linear;
	}
.button6:hover{
	background:
	linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)
	),
	url(../images/6.jpg);
	background-size:cover;
	transition: background 1s linear;
	}
.button6:hover .text1{
	opacity:1;
	}
.button6:hover .text1-description{
	opacity:1;
	}
.button7{
	background: url(../images/roto/steaminDemons3.jpg) no-repeat center;
	background-size:cover;
	box-shadow:none;
	border:none;
	height:550px;
	transition: background 1s linear;
	line-height:5px;
	position:center;
	}
.button7:hover{
	background:
	linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)
	),
	url(../images/roto/steaminDemons3.jpg) no-repeat center;
	background-size:cover;
	transition: background 1s linear;
	}
.button7:hover .text1{
	opacity:1;
	}
.button7:hover .text1-description{
	opacity:1;
	}
.button8{
	background: url(../images/roto/roto.png) no-repeat top;
	background-size:cover;
	box-shadow:none;
	border:none;
	height:550px;
	transition: background 1s linear;
	line-height:5px;
	position:center;
	}
.button8:hover{
	background:
	linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)
	),
	url(../images/roto/roto.png) no-repeat top;
	background-size:cover;
	transition: background 1s linear;
	}
.button8:hover .text1{
	opacity:1;
	}
.button8:hover .text1-description{
	opacity:1;
	}
#btn-aboutme {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    border: none;
    width:100%;
}
.mypicture {
	transition: all .6s ease;
}
.mypicture:hover {
	opacity:0.7;
}
#aboutme {
	padding: 30px;
}
#aboutme > .row > .col-sm-12 {
	max-width:70%;
	margin-left:15%;
}
.resume {
	font: 16px roboto;
	color: white;
	text-align:center;
	border:none;
	background-color:#13B472;
	padding:10px 30px;
}
.resume:hover {
	background-color:#7CC8A2;
}
.full-width {
	width: 100%;
	max-width:1480px;
	margin: auto;
}
.panel{
	border-spacing:0px;
	padding:0px;
	margin:0px;
	}
.panel ul, li{
	position:center;
	border-spacing:0px;
	padding:0px;
    width:100%;
	margin:-2px;
	margin-top:92px;
	}
form{
	font:14px roboto;
	color:#40413f;
	line-height:20px;
	}
input{
	width:400px;
	}
.input-message{
	height:100px;
	}
.button0{
	border:0px;
	width:100px;
	height:30px;
	background-color:#40413f;
	font: 14px roboto;
	color: #FFFFFF;
	}
.button0:hover{
	border:0px;
	width:100px;
	height:30px;
	background-color:#828282;
	font: 14px roboto;
	color: #FFFFFF;
	}
.paragraph-block{
	margin:0px;
	}
.thumbnails img{
	height:80px;
	border:none;
	margin:-1px;
	padding:0px;
	}
.preview img{
	width:inherit;
	height:500px;
	border:none;
	padding:0px;
	margin-bottom:-4px;

	}
.snippet {
	width: 70%;
    margin: auto;
    text-align: left;
}
.logo {
	margin-bottom:5px;
	width:30px;
}
#carousel ul {
	max-height:10em;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
}
#carousel li {
	display: inline; 
}
#carousel li > img {
	height:10em;
}
.carousel-inner .item {f
	height:80vh;
}
.carousel-inner .item img {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	height:80vh;
	object-fit:contain;
}
.carousel-inner .previous {
	background:#e5e5e5;

	left:0 !important;
	width:6%;

	font-size:35px;
	color:#FFFFFF !important;
	text-shadow:none;
	padding:35vh 10px 3px 3px;
}
.carousel-inner .next {
	background:#e5e5e5;

	left:94% !important;
	width:6%;

	font-size:35px;
	color:#FFFFFF !important;
	text-shadow:none;
	padding: 35vh 3px 3px 10px;
}

/*animations:
(creds to Bramus @ https://codepen.io/bramus)*/

.animatable {
  visibility: hidden;

  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

.animated {

  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;

}

.animated.animationDelay{
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}

.animated.animationDelayMed{
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}

.animated.animationDelayLong{
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}

/*fadeInUp*/
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/*fadeInDown*/
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

/*moveUp*/
@-webkit-keyframes moveUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveUp {
	0% {
		opacity: 1;
		-o-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animated.moveUp {
	-webkit-animation-name: moveUp;
	-moz-animation-name: moveUp;
	-o-animation-name: moveUp;
	animation-name: moveUp;
}


/*moveUp*/
@-webkit-keyframes moveDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(-40px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveDown {
	0% {
		opacity: 1;
		-moz-transform: translateY(-40px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveDown {
	0% {
		opacity: 1;
		-o-transform: translateY(-40px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveDown {
	0% {
		opacity: 1;
		transform: translateY(-40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animated.moveDown {
	-webkit-animation-name: moveDown;
	-moz-animation-name: moveDown;
	-o-animation-name: moveDown;
	animation-name: moveDown;
}

/*safari fixes*/

.col-sm-6 {
	width:49.9%!important;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {

	display: table-column !important;
}



