@font-face {
	font-family: futura;
	src: url(../images/futuramedium.ttf);
}

@font-face {
	font-family: Century gothic;
	src: url(../images/centurygothic.ttf);
}

@media (max-width:767px){
	.container-fluid {
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.block-row {
		margin-left:0px !important;
		margin-right:0px !important;
		margin-top:35px !important;
	}
	.row > .bloc {
		height:350px !important;
	}
	.row > .col-sm-7 {
		height: 350px !important;
	}
	.block-shadow > .row {
		height:350px !important;
	}

	.block-shadow {
		margin:40px 0px !important;
	}
	.block-gray {
		width:100%;
	}
}

span {
	float:left;
}

.title-yellow {
	font-family:futura;
	font-size:50px;
	color:#FEB300;
}

.title-gray {
	font-family:futura;
	font-size:50px;
	font-weight:bold;
	color:#333333;
}

.font-century {
	font-family:"century gothic";
}

.font-gray > p {
	color:#757575;
	font-size:14px;
	font-family:verdana;
}
.block-row {
	margin-left:70px;
	margin-right:70px;
	margin-top:35px;
}

.row > [class*='col-'] > span > h1 {
	font-family:futura;

}

.row > .col-sm-7 {
	background-color:#F7F8F2;
}

p {
	font-family:verdana;
}

.bloc > span > h1, .bloc > span > p {
	color: white;
}

.bloc > span > h1 {
	font-size:36px;
	text-align: left;
}

.bloc > span > p {
	font-size:14px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.bloc > span {
	margin:auto;
	margin-left:10%;
	margin-right:10%;
}

.block-shadow > .row {
	height:500px;
}

.block-shadow {
	box-shadow:0px 3px 12px #878787;
	margin: 40px 70px;
	overflow: hidden;
	height:100%;
}

.block-blue {
	background-color: #84A7C2;

}

.block-yellow {
	background-color: #FEB300;
}

.block-green {
	background-color: #88B5B5;
}

.block-red {
	background-color: #DE6749;

}

.block-gray {
	background-color: #757575;
	padding-left:10%;
	padding-right:10%;
	padding-top:40px;
	padding-bottom:40px;

}

.block-gray > span > p{
	color:white;
	text-align:center;
	margin:0px !important;
}

.center {
	margin:auto;
}


